fastapi
uvicorn
python-multipart


langchain
langchainhub
langchain-community

google-ai-generativelanguage
google-api-python-client

faiss-cpu
pdfplumber
python-docx
sentence-transformers

#frontend -streamlit
